
    <div data-role="fieldcontain"  style="text-align:center;">
      <form id="home_searchform">
        <input data-theme="c" type='search' id='search' value='' width="100%"/>
      </form>
    </div>
  <table id="service_table">
    <tbody>
    <% counter = 0 %>
    <% @services.each do |service| %>
        <% if counter % 3 == 0 then %>
            <tr>
        <% end %>
        <td>
          <% address = get_address %>
          <% if service.icon_file_name == nil %>
            <img src="./images/buttons/letra c1.png" id="serviceLink" href=<%=address +"services/"+service.serviceName.gsub(" ", "_")+"/index"%>>
          <% else %>
             <img src=<%="./images/buttons/"+service.icon_file_name %> id="serviceLink" href=<%=address +"services/"+service.serviceName.gsub(" ", "_")+"/index"%>>
          <% end %>
         <p class="service_name"><%= service.serviceName %></p>
        </td>
        <% counter = counter + 1 %>
        <% if (counter % 3 == 0) || (counter == @services.size) then %>
            </tr>
        <% end %>
    <% end %>
    </tbody>
  </table>

