
  <table>
    <tbody>
    <% counter = 0 %>
    <% @services.each do |service| %>
        <% if counter % 4 == 0 then %>
            <tr>
        <% end %>
        <td>
          <% address = get_address %>
         <img src="/images/letra-c.png" id="serviceLink" href=<%=address +"services/"+service.serviceName+"/index"%>>
         <p><%= service.serviceName %></p>
         <!--  <%= link_to image_tag("/images/letra-c.png"), address +"services/"+service.serviceName+"/index", :id => "serviceLink" %> -->
        </td>
        <% counter = counter + 1 %>
        <% if (counter % 4 == 0) || (counter == @services.size) then %>
            </tr>
        <% end %>
    <% end %>
    </tbody>
  </table>