<% port = request.port
   host = request.host
   address = "http://"+host.to_s+":"+port.to_s+"/" %>
<p>Hello <%= @user.userName %>,</p>

<p>Thank you for registering!</p>

<p>Please activate your account by clicking the link above.</p>

<p><%= link_to "Activate Account", address+"activation?code="+@num.to_s+"&id="+@user.id.to_s %></p>

<p>Thank you</p>