
#service_table {
    width: 100%;
    table-layout: fixed;
}

#serviceLink:active {

    box-shadow: 1px 1px 5px 5px #000000;

}

td {
    text-align: center;
}

.service_name {
    font-family: "Arial", sans-serif;
    font-size: 13px;
    color: white;
    text-shadow: 1px 1px 1px black;
    position: relative;
    top: -13px;
}