<h1>Opções</h1>
<p class="button">
<a data-role="button" class="parse ui-btn ui-btn-corner-all ui-shadow ui-btn-up-a" href="http://localhost:3000/editfavourites" data-theme="a">
<span class="ui-btn-inner ui-btn-corner-all">
<span class="ui-btn-text">Editar Favoritos</span>
</span>
</a>
</p>