<h1>Opções</h1>
<% address = get_address %>
<p class="button"><a data-role="button" href='<%= address + "manageaccount" %>'>Editar Conta</a></p>
<p class="button"><a data-role="button" class="parse" href='<%= address + "editfavourites" %>'>Editar Favoritos</a></p>